# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build directories
dist/
build/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore IDE specific files
.vscode/
.idea/

cover_letters/
data/known_entries.json

.idea/
.envVar
.config.json